.item {
  padding:15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  position: relative;
  .delete-item {
    position: absolute;
    right: 0px;
    padding-right: 10px;

  }
  .item-img {
    img {
      max-width: 250px;
    }
  }
  .item-info {
    padding-left: 10px;
  }
}
