<!-- form for create wish -->
<div class="form-group form-inline">
  <input type="text" class="form-control"
   placeholder="What you want?" ng-model="formData.name"
   ng-keyup="$event.keyCode == 13 && createWish(formData)">
   <button class="btn btn-default"
   ng-click="createWish(formData)" name="button">Add</button>
</div>
