<div class="item">

  <!-- delete button -->
  <div class="delete-item">
    <button type="button" class="close"
     aria-label="Close" ng-click="deleteWish(item._id)">
     <span aria-hidden="true">&times;</span>
   </button>
  </div>

  <!-- wish-info -->
  <div class="item-img">
    <img class="img-thumbnail" ng-src="{{item.img || 'https://pbs.twimg.com/profile_images/507251035929190400/BDUL3Uzt_400x400.png'}}" alt="" />
  </div>
  <div class="item-info">
    <h3>{{item.name}}</h3>
    <p>
      {{item.description}}
    </p>
    <a ng-href="/wishes/{{item._id}}">view</a>
    <a ng-href="/wishes/{{item._id}}/edit">edit</a>
  </div>
</div>
