<div ng-include src="'views/items/_wish.html'" ng-if="item"></div>

<form ng-submit="updateWish(formData)">
  <div class="form-group">
    <input type="text" class="form-control" ng-model="formData.img"
     id="itemImg" placeholder="Img link">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" ng-model="formData.name"
     id="itemName" placeholder="What you want?">
  </div>
  <div class="form-group">
    <textarea class="form-control" ng-model="formData.description" id="itemDescription"
      rows="3" placeholder="Description"></textarea>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
