<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">WishList</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/lists">Lists</a></li>
      </ul>
      <div ng-controller="AuthController">
        <ul class="nav navbar-nav navbar-right" ng-if="!user">
          <li><a href="/signup">Sign up</a></li>
        </ul>
        <div class="navbar-form navbar-right" ng-if="!user">
          <form class="form-inline" ng-submit="signin()">
            <div class="form-group">
              <label class="sr-only" for="exampleInputEmail3">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail3"
              placeholder="Email" ng-model="formData.email">
            </div>
            <div class="form-group">
              <label class="sr-only" for="exampleInputPassword3">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword3"
              placeholder="Password" ng-model="formData.password">
            </div>
            <!-- <div class="checkbox">
              <label>
                <input type="checkbox"> Remember me
              </label>
            </div> -->
            <button type="submit" class="btn btn-default">Sign in</button>
          </form>
        </div>
        <ul class="nav navbar-nav navbar-right" ng-if="user">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a ng-href="/profile">Edit profile</a></li>
              <li role="separator" class="divider"></li>
              <li ng-click="logout()"><a href="#">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
