<div class="list">

  <!-- form for create list -->
  <div class="form-group form-inline">
    <input type="text" class="form-control"
     placeholder="List name" ng-model="formData.name"
     ng-keyup="$event.keyCode == 13 && createList(formData)">
     <button class="btn btn-default"
     ng-click="createList(formData)" name="button">Add</button>
  </div>

  <div class="item" ng-repeat="item in items">

    <!-- delete button -->
    <div class="delete-item">
      <button type="button" class="close"
       aria-label="Close" ng-click="deleteList(item._id)">
       <span aria-hidden="true">&times;</span>
     </button>
    </div>

    <!-- list-info -->
    <div class="item-info">
      <h3>{{item.name}}</h3>
      <a ng-href="/lists/{{item._id}}/wishes">view</a>
      <button type="button" ng-click="setFormData(item)" class="btn btn-link" data-toggle="modal" data-target="#myModal">
        edit
      </button>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit list</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputText">Name</label>
            <input type="text" class="form-control" id="exampleInputText" placeholder="Name"
            ng-model="formData.name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateList()">Save changes</button>
      </div>
    </div>
  </div>
</div>

</div>
