<form ng-submit="edit()">
  <div class="form-group">
    <label for="exampleInputLogin">Login</label>
    <input type="text" class="form-control" id="exampleInputLogin" placeholder="Login"
    ng-model="formData.login">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email"
    ng-model="formData.email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password"
    ng-model="formData.password">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
